:root {
  --bg: #ffffff;
  --text: #111;
  --card: #f1f5f9;
  --accent: #2563eb;
}

body.dark {
  --bg: #0f172a;
  --text: #e5e7eb;
  --card: #1e293b;
  --accent: #38bdf8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter, sans-serif;
  background: var(--bg);
  color: var(--text);
  transition: 0.3s;
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
}

/* HERO */
.hero {
  text-align: center;
  padding: 120px 20px;
}

.hero span {
  color: var(--accent);
}

.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 24px;
  background: var(--accent);
  color: white;
  border-radius: 8px;
  text-decoration: none;
}

/* SECTIONS */
section {
  max-width: 900px;
  margin: auto;
  padding: 60px 20px;
}

/* SKILLS */
.skill {
  margin-bottom: 15px;
}

.bar {
  background: #ddd;
  height: 8px;
  border-radius: 6px;
  overflow: hidden;
}

.bar div {
  height: 100%;
  background: var(--accent);
}

/* PROJECT */
.project {
  background: var(--card);
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
}

/* MODAL */
#modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);
}

.modal-content {
  background: var(--bg);
  margin: 15% auto;
  padding: 30px;
  width: 80%;
  border-radius: 10px;
}

/* ANIMATION */
.reveal {
  opacity: 0;
  transform: translateY(30px);
  transition: 0.6s;
}

.reveal.active {
  opacity: 1;
  transform: none;
}
